function formatCount (count) {
  var counter = parseInt(count)
  if (counter > 100000000) {
    return (counter / 100000000).toFixed(1) + '亿'
  }
  if (counter > 10000) {
    return (counter / 10000).toFixed(1) + '万'
  }

  return counter + ''
}

function padLeftZero (time) {
 var time = time.toString()
 return ('00' + time).slice(time.length)
}

// Math.floor() 向下取整
function formatDuration (duration) {
  var duration = duration / 1000
  var minute = Math.floor(duration / 60)
  var second = Math.floor(duration % 60) 
  return padLeftZero(minute) + ':' + padLeftZero(second)
}

module.exports = {
  formatCount: formatCount,
  formatDuration: formatDuration
}